<!doctype html>
<html class="no-js">
	<head>
		<meta charset="">
		<title>txGarage - News. Reviews. Passion - for Texans by Texans || {{site.description}}</title>
		<link rel="stylesheet" href="{{site.theme.link}}/style.css">
		<link href="//www.google-analytics.com" rel="dns-prefetch">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{site.description}} {{site.name}}">
	</head>
	<body class="{{body_class}}">

		{% include "svgs.twig" %}

		<div class="wrapper">
		  <svg class="icon-logo">
		    <use xlink:href="#icon-txgarage-logo">
		  </svg>
		  <p>We are currently down for maintenance...</p>
		  <p>Please check back soon and we'll be back up!</p>
			<h3>Get a hold of us via social media:</h3>
			<ul>
				<li>On Twitter: <a href="http://twitter.com/txgarage" target="_blank">@txGarage</a></li>
				<li>On Facebook: <a href="http://facebook.com/txgarage" target="_blank">fb/txGarage</a></li>
				<li>On Instagram: <a href="https://instagram.com/txgarage/" target="_blank">@txGarage</a></li>
				<li>On YouTube: <a href="https://youtube.com/user/texasgarage/" target="_blank">@txGarage</a></li>
			</ul>
		</div>

	</body>
</html>
