{# {% set newTitle = 'This is the new title' %} #}
{% set pageCategory = function('pageCatClass', wp_title) %}


<div class="hero-wrap hero-wrap-{{pageCategory}} insta-box">
	<div class="insta-box__wrapper">
		<div id="instafeed"></div>
		<div class="insta-box__{{pageCategory}}"></div>
	</div>
	<h1 class="tab-color">{{ title }}</h1>
</div>


<section class="content-wrapper content--post">
	<div class="full-wrapper">
		<div class="post-wrapper">
			<h2>Oops, looks like this page doesn't exist</h2>
			<p>That's ok! Check back to the <a href="{{ site.url }}">homepage</a> or check read one of the latest txGarage reviews or news!</p>
				<section class="post-list">
					{% for post in posts %}
						{% set category = function('catClass', post.categories) %}
						{% include "tz-post.twig" %}
					{% endfor %}
				</section>
      	</div>
	</div>

  	<aside class="sidebar sidebar--post">
		{{global_sidebar}}

		{{ads_sidebar}}
	</aside>
</section>