{% set category = function('catClass', post.categories) %}

<div class="hero-wrap hero-wrap-{{category}} insta-box">
	<div class="insta-box__wrapper">
		<div id="instafeed"></div>
		<div class="insta-box__{{category}}"></div>
	</div>
	<h1 class="tab-color">
		{{post.post_title}}
		<span class="post-date">
			Published: {{post.display_date}}
		</span>
	</h1>

	<div class="meta">
			<svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
			by {{post.author.name}}
	</div>
</div>

<section class="content-wrapper content--post">
  <div class="full-wrapper">


      <div class="post-wrapper">
        {{post.content}}
      </div>
			{% include "components/author-byline.twig" %}
  </div>

	<aside class="sidebar sidebar--post">

		{{global_sidebar}}

		{{ads_sidebar}}
	</aside>

</section>
