<div class="post-block post-block--{{post.ID}}">
  <a href="{{post.get_path}}" rel="bookmark" class="" title="Permanent Link to {{post.get_title}}">
  
    <div class="post-block--title">
      <h3>{{post.get_title}}</h3>
      {% if post.can_edit %}
        <span><a href="{{post.get_edit_url}}">+</a></span>
      {% endif %}
    </div>

    <div class="post-block--hero {{category}}">
      {% if post.thumbnail %}
        <img src="{{post.thumbnail.src}}" class="attachment-post-thumbnail post-image" alt="{{post.thumbnail.title}}">
      {% endif %}

      {% include "components/cat-icons.twig" %}
    </div>
  </a>
</div>
{# post.get_preview(60) #}